		<div class="row">
			<div class="col-md-4" ng-repeat="account in accounts">
				<h2>Cuenta {{account.accountId}}</h2>
				<table class="table table-striped">
					<tr>
						<th>Fecha</th>
						<th>Concepto</th>
						<th></th>
					</tr>
					<tr ng-repeat="movement in account.movements">
						<td>{{movement.fecha | date:'dd/MM/yyyy' }}</td>
						<td>{{movement.concepto}}</td>
						<td class="text-right">{{movement.valor}} €</td>
					</tr>
				</table>
				<button type="button" class="btn btn-primary">Movimientos</button>
			</div>
			<div class="col-md-4">
				<h2>Cartera de acciones</h2>
				<table class="table table-striped">
					<tr>
						<th>Nº</th>
						<th>Ticker</th>
						<th>Rec.</th>
						<th></th>
					</tr>
					<tr ng-repeat="stock in stocks">
						<td>{{stock.shares}}</td>
						<td class="text-uppercase">{{stock.ticker}}</td>
						<td>
							<span ng-if="stock.recommendation === 1" class="text-left glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
							<span ng-if="stock.recommendation === -1" class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
						</td>
						<td class="text-right">{{stock.value}} {{stock.currency}}</td>
					</tr>
				</table>
				<button type="button" class="btn btn-primary">Operaciones</button>
			</div>
			<div class="col-md-4" ng-if="opportunity">
				<h2>{{opportunity.header}}</h2>
				<p ng-repeat="paragraph in opportunity.paragraphs">{{paragraph}}</p>
				<h3 class="text-center">{{opportunity.bait}}</h3>
				<h6>{{opportunity.footer}}</h6>
				<button type="button" class="btn btn-primary btn-lg btn-block">Contratar</button>
			</div>
			<div class="col-md-4" ng-repeat="ticker in tickers">
				<h2>Cotización de {{ticker}}</h2>
				<canvas id="{{'myChart' + $index}}"></canvas>
			</div>
			<div class="col-md-4">
				<h2>Evolución del saldo</h2>
				<canvas id="saldoChart"></canvas>
			</div>
		</div>